body { background-color: #D3D3D3;
        color: #FF69B4; }

		
		
#wrapper { width: 85%;
		   margin-left: auto;
		   margin-right: auto;
		   }
		   
main {  padding-left: 10px;
		padding-right: 10px;
		padding-top: 2px;
		margin-left: 220px;
		margin-right: 275px;
		display: block; 
		background-color: #FF69B4;
		color: #FFFFFF;
}

nav { font-weight: bold;
	  float: left;
	  width: 140px;
	  font-size: 1em;
	  background-color: #FF69B4;
}